// Mixins in here
.btn(@background-color:#17a2b8, @color:#fff, @width:85%) {
  background-color: @background-color;
  color: @color;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  padding: 13px 0;
  border-radius: 15px;
  width: @width;
}